xsd/blueprints.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="blueprint_list">
		<xs:sequence>
			<xs:element name="name" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="power_list">
		<xs:sequence minOccurs="0">
			<xs:element name="power" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="color">
		<xs:attribute name="r" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="g" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="b" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="a" type="xs:decimal" use="required"/>
	</xs:complexType>

	<xs:complexType name="layer">
		<xs:sequence>
			<xs:element name="color" type="color" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="color_list">
		<xs:sequence>
			<xs:element name="layer" type="layer" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="crew_blueprint">
		<xs:all>
			<xs:element name="desc" type="xs:string"/>
			<xs:element name="cost" type="xs:unsignedInt"/>
			<xs:element name="bp" type="xs:unsignedInt"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="short" type="xs:string"/>
			<xs:element name="rarity" type="xs:unsignedInt"/>
			<xs:element name="powerList" type="power_list"/>
			<xs:element name="colorList" type="color_list" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="upgrade_cost">
		<xs:sequence>
			<xs:element name="level" type="xs:unsignedInt" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="system_blueprint">
		<xs:all>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="desc" type="xs:string"/>
			<xs:element name="startPower" type="xs:unsignedInt"/>
			<xs:element name="maxPower" type="xs:unsignedInt"/>
			<xs:element name="rarity" type="xs:unsignedInt"/>
			<xs:element name="upgradeCost" type="upgrade_cost"/>
			<xs:element name="cost" type="xs:unsignedInt"/>
			<xs:element name="locked" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="launch_sounds">
		<xs:sequence>
			<xs:element name="sound" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="hit_ship_sounds">
		<xs:sequence>
			<xs:element name="sound" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="hit_shield_sounds">
		<xs:sequence>
			<xs:element name="sound" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="miss_sounds">
		<xs:sequence>
			<xs:element name="sound" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="color2">
		<xs:sequence>
			<xs:element name="r" type="xs:unsignedInt"/>
			<xs:element name="g" type="xs:unsignedInt"/>
			<xs:element name="b" type="xs:unsignedInt"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="weapon_blueprint">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="type" type="xs:string"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="short" type="xs:string"/>
			<xs:element name="tip" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="locked" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="desc" type="xs:string"/>
			<xs:element name="tooltip" type="xs:string"/>
			<xs:element name="damage" type="xs:unsignedInt"/>
			<xs:element name="sysDamage" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="persDamage" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ion" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="missiles" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="shots" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sp" type="xs:unsignedInt"/>
			<xs:element name="fireChance" type="xs:unsignedInt"/>
			<xs:element name="breachChance" type="xs:unsignedInt"/>
			<xs:element name="lockdown" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="stunChance" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cooldown" type="xs:unsignedInt"/>
			<xs:element name="color" type="color2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hullBust" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="speed" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="power" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cost" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bp" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rarity" type="xs:unsignedInt"/>
			<xs:element name="length" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="image" type="xs:string"/>
			<xs:element name="explosion" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="launchSounds" type="launch_sounds"/>
			<xs:element name="hitShipSounds" type="hit_ship_sounds" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hitShieldSounds" type="hit_shield_sounds" minOccurs="0" maxOccurs="1"/>
			<xs:element name="missSounds" type="miss_sounds" minOccurs="0" maxOccurs="1"/>
			<xs:element name="weaponArt" type="xs:string"/>
			<xs:element name="iconImage" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="drone_blueprint">
		<xs:all>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="locked" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="level" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tip" type="xs:string"/>
			<xs:element name="target" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="short" type="xs:string"/>
			<xs:element name="desc" type="xs:string"/>
			<xs:element name="power" type="xs:unsignedInt"/>
			<xs:element name="cooldown" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dodge" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="speed" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cost" type="xs:unsignedInt"/>
			<xs:element name="bp" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="droneImage" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="image" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="weaponBlueprint" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rarity" type="xs:unsignedInt"/>
			<xs:element name="iconImage" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="item_blueprint">
		<xs:all>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="desc" type="xs:string"/>
			<xs:element name="cost" type="xs:unsignedInt"/>
			<xs:element name="rarity" type="xs:unsignedInt"/>
		</xs:all>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="aug_blueprint">
		<xs:all>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="desc" type="xs:string"/>
			<xs:element name="cost" type="xs:unsignedInt"/>
			<xs:element name="bp" type="xs:unsignedInt"/>
			<xs:element name="rarity" type="xs:unsignedInt"/>
			<xs:element name="stackable" type="xs:boolean"/>
			<xs:element name="value" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="slot">
		<xs:sequence>
			<xs:element name="direction" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="number" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="system">
		<xs:sequence>
			<xs:element name="slot" type="slot" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="power" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
		<xs:attribute name="room" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="start" type="xs:boolean"/>
		<xs:attribute name="img" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="system_weapon">
		<xs:attribute name="power" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
		<xs:attribute name="room" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="weapon" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="system_list">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="pilot" type="system"/>
			<xs:element name="doors" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sensors" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="medbay" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="clonebay" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="oxygen" type="system"/>
			<xs:element name="shields" type="system"/>
			<xs:element name="engines" type="system"/>
			<xs:element name="weapons" type="system"/>
			<xs:element name="drones" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="teleporter" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="artillery" type="system_weapon" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cloaking" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="battery" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mind" type="system" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hacking" type="system" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ship_weapon">
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="ship_aug">
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="ship_drone">
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="weapon_list">
		<xs:sequence minOccurs="0">
			<xs:element name="weapon" type="ship_weapon" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="missiles" type="xs:unsignedInt" use="required"/>
	</xs:complexType>

	<xs:complexType name="drone_list">
		<xs:sequence minOccurs="0">
			<xs:element name="drone" type="ship_drone" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:unsignedInt"/>
		<xs:attribute name="missiles" type="xs:unsignedInt"/>
		<xs:attribute name="drones" type="xs:unsignedInt"/>
	</xs:complexType>

	<xs:complexType name="ship_health">
		<xs:attribute name="amount" type="xs:unsignedInt" use="required"/>
	</xs:complexType>

	<xs:complexType name="ship_max_power">
		<xs:attribute name="amount" type="xs:unsignedInt" use="required"/>
	</xs:complexType>

	<xs:complexType name="ship_crew_count">
		<xs:attribute name="amount" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="class" type="xs:string" use="required"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
	</xs:complexType>

	<xs:complexType name="ship_blueprint">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="class" type="xs:string"/>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unlock" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="desc" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="systemList" type="system_list"/>
			<xs:element name="weaponSlots" type="xs:unsignedInt"/>
			<xs:element name="droneSlots" type="xs:unsignedInt"/>
			<xs:element name="weaponList" type="weapon_list"/>
			<xs:element name="aug" type="ship_aug" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="droneList" type="drone_list" minOccurs="0" maxOccurs="1"/>
			<xs:element name="health" type="ship_health"/>
			<xs:element name="maxPower" type="ship_max_power"/>
			<xs:element name="boardingAI" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="crewCount" type="ship_crew_count" maxOccurs="unbounded"/>
			<xs:element name="shieldImage" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cloakImage" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="layout" type="xs:string" use="required"/>
		<xs:attribute name="img" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="blueprints_root">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="blueprintList" type="blueprint_list"/>
			<xs:element name="crewBlueprint" type="crew_blueprint"/>
			<xs:element name="systemBlueprint" type="system_blueprint"/>
			<xs:element name="weaponBlueprint" type="weapon_blueprint"/>
			<xs:element name="droneBlueprint" type="drone_blueprint"/>
			<xs:element name="itemBlueprint" type="item_blueprint"/>
			<xs:element name="augBlueprint" type="aug_blueprint"/>
			<xs:element name="shipBlueprint" type="ship_blueprint"/>
		</xs:choice>
	</xs:complexType>

	<xs:element name="blueprintsRoot" type="blueprints_root"/>
</xs:schema>
